.project {
  // Position
  display: flex;
  align-items: center;

  // Style
  background-color: var(--blue3);

  .projectImage {
    // Size
    width: 20%;
  }
  .projectDescription {
    // Spacing
    padding: var(--med-space);

    // Font
    font-size: 18px;
    line-height: 24px;
  }
}

.workImages {
  //Position
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  .logoLink {
    // Position
    flex: 0 1 30%;
    position: relative;

    // Spacing
    margin: var(--med-space);
    padding: var(--med-space);

    // Style
    border-bottom: 2px solid var(--white);

    &.selected {
      // Style
      border-bottom-color: var(--blue2);
    }
    &:hover {
      // Style
      cursor: pointer;
      border-bottom-color: var(--blue2);

      .view {
        // Position
        display: flex;
        align-items: center;
      }
    }

    .imageWrapper {
      // Position
      display: flex;
      align-items: center;
    }
    .logo {
      // Size
      width: 100%;
    }
  }
}
.workSection {
  // Spacing
  margin: var(--xlrg-space) 0;
  padding: var(--lrg-space);

  // Style
  background-color: var(--blue3);

  .workHeading {
    // Font
    font-size: var(--lrg-font);
    font-weight: 600;
    line-height: 30px;
  }
  .workDescription {
    margin: var(--med-space) 0 var(--lrg-space) 0;
  }
  .projectsList {
    margin: var(--med-space) 0 0 15px;
  }
}