.project {
  // Position
  display: flex;
  align-items: center;

  // Style
  border: 1px solid #cce6ff;
  box-shadow: 0 0 4px var(--shadow);
  background-color: var(--blue3);

  .projectImage {
    // Size
    width: 20%;
  }
  .projectDescription {
    // Spacing
    padding: var(--med-space);

    // Font
    font-size: 18px;
    line-height: 24px;
  }
}
.workImages {
  //Position
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.workSection {
  // Spacing
  margin: var(--xlrg-space) 0;
  padding: var(--lrg-space);

  // Style
  border: 1px solid #cce6ff;
  box-shadow: 0 0 4px var(--shadow);
  background-color: var(--blue3);

  .workHeading {
    // Font
    font-size: var(--lrg-font);
    font-weight: 600;
    line-height: 30px;
  }
  .workDescription {
    margin: var(--med-space) 0 var(--lrg-space) 0;
  }
  .projectsList {
    margin: var(--med-space) 0 0 15px;
  }
}