.project {
  // Position
  display: flex;
  align-items: center;

  // Style
  border: 1px solid var(--black);

  .projectImage {
    // Size
    width: 20%;
  }
  .projectDescription {
    // Spacing
    padding: var(--med-space);

    // Font
    font-size: 18px;
    line-height: 24px;
  }
}