.pageHeader {
  // Spacing
  margin: 20px 0 0 20px;
  padding: 20px;

  .header {
    // Spacing
    padding: 0 0 15px 0;

    // Font
    font-size: 30px;
    line-height: 36px;
  }

  .description {
    // Font
    font-size: 20px;
    line-height: 24px;
  }
}